.hoge{
			width:150px;
			height:150px;
		}

		.lap{
			margin: 0 auto;
			width: 100%;
		}

		.wid{
			display: inline-block;
			width: 49%;
		}

		.text{
			display: inline-block;
		}

		.clearfix:after {
    		content: ".";
    		display: block;
    		height: 0;
    		clear: both;
    		visibility: hidden;
		}
