*{
	margin: 0;
	padding: 0;
}
.wrap {
	margin: 0 auto;
	padding-top: 30px;
	width: 1200px;
}

.side_bar {
	float: left;
	height: 500px;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 20px;
	width: 250px;
}
.side_bar ul {
	margin-top: 30px;
}
.side_bar li {
	border-bottom: solid 1px orange;
	font-size: 16px;
	margin-bottom: 15px;
	list-style: none;
}
.side_bar ul li a {
	display: block;
	text-decoration: none;
}

.list {
	overflow: hidden;
	margin: 0 auto;
	width: 850px;
}

.questionnaire_list {
	overflow: hidden;
	margin: 0 auto;
}
.questionnaire_list .questionnaiire_year {
	border: solid 1px orange;
	clear: both;
	display: block;
	font-size: 18px;
	margin-top: 20px;
	padding: 10px;
}
.questionnaire_list h1 {
	float: left;
	padding: 10px;
}
.questionnaire_list .btn {
	float: right;
}
.questionnaire_list .questionnaiire_year h2 {
	float: left;
	margin: 0;
}

.questionnaire_list p {
	text-align: right;
}

