*{
	margin: 0;
	padding: 0;
}
.wrap {
	margin: 0 auto;
	padding-top: 30px;
	width: 1200px;
}

.side_bar {
	float: left;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
	width: 250px;
}
.side_bar ul {
	margin-top: 30px;
}
.side_bar li {
	border-bottom: solid 1px orange;
	font-size: 16px;
	margin-bottom: 15px;
	list-style: none;
}
.side_bar ul li a {
	display: block;
	text-decoration: none;
}

.list {
	overflow: hidden;
	margin: 0 auto;
	width: 850px;
}
.list_sort ul li {
	display: inline;
}